
.sidebar-bg{
    /* height: 135vh; */
    height:fit-content;
    width:fit-content;
    background-color: gold;
    box-shadow: 4px 2px 5px gold;
    padding-top: 5.6rem;
}

.sav-text {
    display:table-column-group;
    justify-content:space-around;
    align-items:flex-end;
    padding: 5px 0px 5px 5px;
    list-style: none;
    height:fit-content;
  }

  .sav-text a {
    text-decoration: none;
    color: black;
    font-size:medium;
    width:fit-content;
    height:fit-content;
    display:inherit;
    align-items:initial;
    padding:initial;
    border-radius:initial;
  }

  .sav-text a:hover {
    background-color: black;
    color:black;
  }
  
  span {
    list-style: inside;
  }