.sidebar-bg{
    /* height: 135vh; */
    height: 25vh;
    width:fit-content;
    background-color: grey;
    box-shadow: 4px 2px 5px darkgrey;
    padding-top: 5.6rem;
}

.sav-text {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 20px 0px 10px 4px;
    height: 50px;

  }

  .sav-text a {
    display: flex;
    color: black;
    flex-direction: column;
    border-radius: 4px;
  }

  .sav-text a:hover {
    background-color: darkgrey;
    color:black;
  }
  
  span {
    margin-left: 16px;
  }