.comm-list-contain {
    background-color: darkred;
    width: 520px;
    margin-top: 1rem;
    border-radius: 10px;
    margin-left: 33.5rem;
    margin-bottom: 1rem;
    box-shadow: 4px 2px 5px gray;
  }
  
  .list-text {
    color: black;
    padding-top: 4px;
    padding-left: .8rem;
    font-size: 16px;
  }

  .red-text{
      color: red;
  }
  