.scram-container{
    display: flex;

}

.scram-img{
    height: 45px;
    border-radius: 25px;
    box-shadow: 4px 2px 5px black;
}

.scram-logo{
    height: 200px;
    border-radius: 25px;
    box-shadow: 4px 2px 5px black;
}

.scram-title{
    font-weight: bold;
    font-size: 23px;
    margin-right: auto;
}

.scram-big-img-contain{
    margin-left: 9rem;
}

.scram-table-container{
    margin-left: 6rem;
    width: 1000px;
}


.scram-header-row{
    background-color: gold;
    color: white;
    font-weight: bold;
    font-size: 16.5px;
}

.scram-title-contain{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: .2rem;
}

.search-label{
    padding-right: .3rem;
    font-weight: bold;
}

.custom-input{
    border-radius: 10px;
    padding-left: 5px;
    height: 24px;
    margin-top: .3rem;
}